<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLCHBanDienThoaiMoi</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QLCHBanDienThoaiMoi.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <!-- Logo / Tên thương hiệu -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="margin-left:30px;">
                    QLCHBanDienThoaiMoi
                </a>
                <!-- Nội dung Navbar -->
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                    </ul>



                    <!-- Các liên kết bên phải -->
                    <ul class="navbar-nav mb-2 mb-sm-0" style="margin-right:30px;gap:5px;">
                        <li class="nav-item">
                            <a asp-controller="GioHang" asp-action="Index" class="btn btn-outline-primary">
                                <i class="fa-solid fa-cart-shopping" ></i> Giỏ Hàng
                            </a>
                        </li>

                        <a class="btn btn-primary" asp-controller="Account" asp-action="Login">
                            <i class="bi bi-box-arrow-in-right"></i> Đăng nhập
                        </a>


                    </ul>
                </div>
            </div>
        </nav>
        <div id="demo" class="carousel slide" data-bs-ride="carousel">


            <!-- The slideshow/carousel -->
            <div class="carousel-inner text-center">
                @for (int i = 0; i < Math.Min(5, Model.Count); i++)
                {
                    var sp = Model[i];
                    <a>
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <img src="~/images/@sp.HinhAnh"
                                 class="d-block w-100"
                                 style="height:250px; width:auto; object-fit:contain; background-color:#070917;">
                        </div>
                    </a>

                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - QLCHBanDienThoaiMoi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
